.cardContainer{
display: flex;
gap: 20px;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;

     
}
.card{
    background-color:#112949;
    height: 155px;
    width: 155px;
    color: white;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    
}
.header{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
.header h3{
    color: #3CC3F2;
}
@media (max-width:480px) {
    .cardContainer{
        flex-wrap: wrap;
        /* gap: 40px; */
        justify-content: space-around
        
    }
  }
  @media (max-width:720px) {
    .cardContainer{
        flex-wrap: wrap;
        /* gap: 40px; */
        justify-content: space-around;
    }
  }